h1
{
  font-size: 22px;
  color: blue; 
  font-family: "times new roman, times, serif";
  background: radial-gradient(circle, black, white);
}
body 
{ 
  background: radial-gradient(circle, white, black);
   font-size: 15px;
  font-family: "times new roman, times, serif";
}
p
{
  font-size: 14px;
  font-family: "times new roman, times, serif";
  color: red;
  
}
a
{
  background: radial-gradient(circle, red, white);
  font-family: "times new roman, times, serif";
  color: white;
}




