body {
	background-color: blue;
}

h1	
	{
	text-align: center;
  color: rgb(252,218,218);
   	font-size: 38pt; 
	}
p
{
  font-size: 14pt;
  font-family: "times new roman, times, serif";
  color: black; 
}

{
  background: radial-gradient(circle, red, white);
  font-family: "times new roman, times, serif";
  color: white;
}
ul
{
	font-size: 15pt;
}
