h1
{
  text-align: center;
  background-color: rgb(0,0,125);
   font-size: 38px
}
h2
{
 font-size: 28px ;
 background-color: rgb(0,0,125);
}
p
{ 
  font: times new roman;
  font-size: 14px
}
body {
background-color: rgb(0,0,150);
}
